[
  {
    "name": "روبینو دانلودر",
    "link": "rubinodownloader_app",
    "tick": "yes",
    "image": "http://uupload.ir/files/s07e_20200801_004647.jpg"
  },
  {
    "name": "داویمو",
    "link": "DavimoTeam",
    "tick": "yes",
    "image": "http://uupload.ir/files/9wbm_20200726_144256.png"
  }
]